node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.vercel
.env
.env.*
*.log
.git_backup
uploads/
baileys_auth_info/
tokens/
*.session
*.session-journal
.temp/
temp/
seacrew-pdf-conversion/
